.PlaystaitonPlusImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    background-image: url('../images/Ratchet&Clank.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ReviewBackGround {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    background-image: url('../images/ReviewBackGround.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.PlaystationHitsImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    background-image: url('../images/God\ of\ war.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.PlastationClassicsImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    background-image: url('../images/last-of-us.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.EforEveryone {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    background-image: url('../images/Ratchet&Clank.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.MforMature {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    background-image: url('../images/last-of-us.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.TforTeen {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    background-image: url('../images/uncharted-4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.textPage {
    text-align: center;
    margin-top: 70px;
    font-size: 3rem;
    color: white;

}

.bannerGamePlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;


}