.PlaystaitonPlusImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    background-image: url('../images/Ratchet&Clank.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.PlaystationHitsImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    background-image: url('../images/God\ of\ war.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.PlastationClassicsImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    background-image: url('../images/last-of-us.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.EforEveryoneImg {}

.MforMatureImg {}

.TforTeenImg {}

.textPage {
    text-align: center;
    margin-top: 70px;
    font-size: 3rem;
    color: white;

}