!
<header>
    <a href="/html/index.html" class="logo">
        <img src="../images/psdownload.png">
    </a>
    <a href="../html/Allgames.html" class="menu">
        <ion-icon name="apps-outline"></ion-icon>
    </a>
    <ul class="nav">
        <li><a href="../html/PlaystationHits.html">Playstation hits</a></li>
        <li><a href="../html/PlaystationPlus.html">Playstation plus</a></li>
        <li><a href="../html/PlaystaitonClassics.html">Playstation classics</a></li>
    </ul>
    <div class="search">
        <form id="searchForm" action="../html/result.html" method="GET">
            <input type="text" id="searchInput" name="query" placeholder="Search">
            <button><ion-icon name="search-outline"></ion-icon></button>
        </form>
    </div>
</header>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>